@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.home {
    font-family: 'Roboto', sans-serif;
    height: 200vh;
    background: linear-gradient(0deg, rgba(0,111,128,1) 0%, rgba(1,161,115,1) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.first-part {
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.second-part {
    color: white;
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}